In [116]:
import pandas as pd

In [117]:
cars = pd.read_csv('https://perso.telecom-paristech.fr/eagan/class/igr204/data/cars.csv',sep=';',header=0,)

In [118]:
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US
10,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.,8.5,70,US
11,Citroen DS-21 Pallas,0,4,133.0,115.0,3090.,17.5,70,Europe
12,Chevrolet Chevelle Concours (sw),0,8,350.0,165.0,4142.,11.5,70,US
13,Ford Torino (sw),0,8,351.0,153.0,4034.,11.0,70,US
14,Plymouth Satellite (sw),0,8,383.0,175.0,4166.,10.5,70,US
15,AMC Rebel SST (sw),0,8,360.0,175.0,3850.,11.0,70,US
16,Dodge Challenger SE,15.0,8,383.0,170.0,3563.,10.0,70,US
17,Plymouth 'Cuda 340,14.0,8,340.0,160.0,3609.,8.0,70,US
18,Ford Mustang Boss 302,0,8,302.0,140.0,3353.,8.0,70,US
19,Chevrolet Monte Carlo,15.0,8,400.0,150.0,3761.,9.5,70,US
20,Buick Estate Wagon (sw),14.0,8,455.0,225.0,3086.,10.0,70,US
21,Toyota Corolla Mark ii,24.0,4,113.0,95.00,2372.,15.0,70,Japan
22,Plymouth Duster,22.0,6,198.0,95.00,2833.,15.5,70,US
23,AMC Hornet,18.0,6,199.0,97.00,2774.,15.5,70,US
24,Ford Maverick,21.0,6,200.0,85.00,2587.,16.0,70,US
25,Datsun PL510,27.0,4,97.00,88.00,2130.,14.5,70,Japan
26,Volkswagen 1131 Deluxe Sedan,26.0,4,97.00,46.00,1835.,20.5,70,Europe
27,Peugeot 504,25.0,4,110.0,87.00,2672.,17.5,70,Europe
28,Audi 100 LS,24.0,4,107.0,90.00,2430.,14.5,70,Europe
29,Saab 99e,25.0,4,104.0,95.00,2375.,17.5,70,Europe
...,...,...,...,...,...,...,...,...,...
377,Chevrolet Cavalier Wagon,27.0,4,112.0,88.00,2640.,18.6,82,US
378,Chevrolet Cavalier 2-door,34.0,4,112.0,88.00,2395.,18.0,82,US
379,Pontiac J2000 SE Hatchback,31.0,4,112.0,85.00,2575.,16.2,82,US
380,Dodge Aries SE,29.0,4,135.0,84.00,2525.,16.0,82,US
381,Pontiac Phoenix,27.0,4,151.0,90.00,2735.,18.0,82,US
382,Ford Fairmont Futura,24.0,4,140.0,92.00,2865.,16.4,82,US
383,AMC Concord DL,23.0,4,151.0,0,3035.,20.5,82,US
384,Volkswagen Rabbit l,36.0,4,105.0,74.00,1980.,15.3,82,Europe
385,Mazda GLC Custom l,37.0,4,91.00,68.00,2025.,18.2,82,Japan
386,Mazda GLC Custom,31.0,4,91.00,68.00,1970.,17.6,82,Japan
387,Plymouth Horizon Miser,38.0,4,105.0,63.00,2125.,14.7,82,US
388,Mercury Lynx l,36.0,4,98.00,70.00,2125.,17.3,82,US
389,Nissan Stanza XE,36.0,4,120.0,88.00,2160.,14.5,82,Japan
390,Honda Accord,36.0,4,107.0,75.00,2205.,14.5,82,Japan
391,Toyota Corolla,34.0,4,108.0,70.00,2245,16.9,82,Japan
392,Honda Civic,38.0,4,91.00,67.00,1965.,15.0,82,Japan
393,Honda Civic (auto),32.0,4,91.00,67.00,1965.,15.7,82,Japan
394,Datsun 310 GX,38.0,4,91.00,67.00,1995.,16.2,82,Japan
395,Buick Century Limited,25.0,6,181.0,110.0,2945.,16.4,82,US
396,Oldsmobile Cutlass Ciera (diesel),38.0,6,262.0,85.00,3015.,17.0,82,US
397,Chrysler Lebaron Medallion,26.0,4,156.0,92.00,2585.,14.5,82,US
398,Ford Grenada l,22.0,6,232.0,112.0,2835,14.7,82,US
399,Toyota Celica GT,32.0,4,144.0,96.00,2665.,13.9,82,Japan
400,Dodge Charger 2.2,36.0,4,135.0,84.00,2370.,13.0,82,US
401,Chevrolet Camaro,27.0,4,151.0,90.00,2950.,17.3,82,US
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [119]:
cars.drop(cars.index[0], inplace=True)

In [120]:
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US
10,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.,8.5,70,US
11,Citroen DS-21 Pallas,0,4,133.0,115.0,3090.,17.5,70,Europe
12,Chevrolet Chevelle Concours (sw),0,8,350.0,165.0,4142.,11.5,70,US
13,Ford Torino (sw),0,8,351.0,153.0,4034.,11.0,70,US
14,Plymouth Satellite (sw),0,8,383.0,175.0,4166.,10.5,70,US
15,AMC Rebel SST (sw),0,8,360.0,175.0,3850.,11.0,70,US
16,Dodge Challenger SE,15.0,8,383.0,170.0,3563.,10.0,70,US
17,Plymouth 'Cuda 340,14.0,8,340.0,160.0,3609.,8.0,70,US
18,Ford Mustang Boss 302,0,8,302.0,140.0,3353.,8.0,70,US
19,Chevrolet Monte Carlo,15.0,8,400.0,150.0,3761.,9.5,70,US
20,Buick Estate Wagon (sw),14.0,8,455.0,225.0,3086.,10.0,70,US
21,Toyota Corolla Mark ii,24.0,4,113.0,95.00,2372.,15.0,70,Japan
22,Plymouth Duster,22.0,6,198.0,95.00,2833.,15.5,70,US
23,AMC Hornet,18.0,6,199.0,97.00,2774.,15.5,70,US
24,Ford Maverick,21.0,6,200.0,85.00,2587.,16.0,70,US
25,Datsun PL510,27.0,4,97.00,88.00,2130.,14.5,70,Japan
26,Volkswagen 1131 Deluxe Sedan,26.0,4,97.00,46.00,1835.,20.5,70,Europe
27,Peugeot 504,25.0,4,110.0,87.00,2672.,17.5,70,Europe
28,Audi 100 LS,24.0,4,107.0,90.00,2430.,14.5,70,Europe
29,Saab 99e,25.0,4,104.0,95.00,2375.,17.5,70,Europe
30,BMW 2002,26.0,4,121.0,113.0,2234.,12.5,70,Europe
...,...,...,...,...,...,...,...,...,...
377,Chevrolet Cavalier Wagon,27.0,4,112.0,88.00,2640.,18.6,82,US
378,Chevrolet Cavalier 2-door,34.0,4,112.0,88.00,2395.,18.0,82,US
379,Pontiac J2000 SE Hatchback,31.0,4,112.0,85.00,2575.,16.2,82,US
380,Dodge Aries SE,29.0,4,135.0,84.00,2525.,16.0,82,US
381,Pontiac Phoenix,27.0,4,151.0,90.00,2735.,18.0,82,US
382,Ford Fairmont Futura,24.0,4,140.0,92.00,2865.,16.4,82,US
383,AMC Concord DL,23.0,4,151.0,0,3035.,20.5,82,US
384,Volkswagen Rabbit l,36.0,4,105.0,74.00,1980.,15.3,82,Europe
385,Mazda GLC Custom l,37.0,4,91.00,68.00,2025.,18.2,82,Japan
386,Mazda GLC Custom,31.0,4,91.00,68.00,1970.,17.6,82,Japan
387,Plymouth Horizon Miser,38.0,4,105.0,63.00,2125.,14.7,82,US
388,Mercury Lynx l,36.0,4,98.00,70.00,2125.,17.3,82,US
389,Nissan Stanza XE,36.0,4,120.0,88.00,2160.,14.5,82,Japan
390,Honda Accord,36.0,4,107.0,75.00,2205.,14.5,82,Japan
391,Toyota Corolla,34.0,4,108.0,70.00,2245,16.9,82,Japan
392,Honda Civic,38.0,4,91.00,67.00,1965.,15.0,82,Japan
393,Honda Civic (auto),32.0,4,91.00,67.00,1965.,15.7,82,Japan
394,Datsun 310 GX,38.0,4,91.00,67.00,1995.,16.2,82,Japan
395,Buick Century Limited,25.0,6,181.0,110.0,2945.,16.4,82,US
396,Oldsmobile Cutlass Ciera (diesel),38.0,6,262.0,85.00,3015.,17.0,82,US
397,Chrysler Lebaron Medallion,26.0,4,156.0,92.00,2585.,14.5,82,US
398,Ford Grenada l,22.0,6,232.0,112.0,2835,14.7,82,US
399,Toyota Celica GT,32.0,4,144.0,96.00,2665.,13.9,82,Japan
400,Dodge Charger 2.2,36.0,4,135.0,84.00,2370.,13.0,82,US
401,Chevrolet Camaro,27.0,4,151.0,90.00,2950.,17.3,82,US
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [121]:
cars.isnull().sum()

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

In [122]:
column_names = {'Car':'Car', 'MPG':'MPG', 'Horsepower':'Horsepower', 'Cylinders':'Cylinders','Origin':'Origin'}
tidey_cars = (cars.rename(columns=column_names)[['Car', 'MPG', 'Horsepower', 'Cylinders','Origin']].rename_axis(['car_id']).sort_index())
tidey_cars

                                      Car   MPG Horsepower Cylinders  Origin
car_id
1               Chevrolet Chevelle Malibu  18.0      130.0         8      US
2                       Buick Skylark 320  15.0      165.0         8      US
3                      Plymouth Satellite  18.0      150.0         8      US
4                           AMC Rebel SST  16.0      150.0         8      US
5                             Ford Torino  17.0      140.0         8      US
6                        Ford Galaxie 500  15.0      198.0         8      US
7                        Chevrolet Impala  14.0      220.0         8      US
8                       Plymouth Fury iii  14.0      215.0         8      US
9                        Pontiac Catalina  14.0      225.0         8      US
10                     AMC Ambassador DPL  15.0      190.0         8      US
11                   Citroen DS-21 Pallas     0      115.0         4  Europe
12       Chevrolet Chevelle Concours (sw)     0      165.0         8      US
13                       Ford Torino (sw)     0      153.0         8      US
14                Plymouth Satellite (sw)     0      175.0         8      US
15                     AMC Rebel SST (sw)     0      175.0         8      US
16                    Dodge Challenger SE  15.0      170.0         8      US
17                     Plymouth 'Cuda 340  14.0      160.0         8      US
18                  Ford Mustang Boss 302     0      140.0         8      US
19                  Chevrolet Monte Carlo  15.0      150.0         8      US
20                Buick Estate Wagon (sw)  14.0      225.0         8      US
21                 Toyota Corolla Mark ii  24.0      95.00         4   Japan
22                        Plymouth Duster  22.0      95.00         6      US
23                             AMC Hornet  18.0      97.00         6      US
24                          Ford Maverick  21.0      85.00         6      US
25                           Datsun PL510  27.0      88.00         4   Japan
26           Volkswagen 1131 Deluxe Sedan  26.0      46.00         4  Europe
27                            Peugeot 504  25.0      87.00         4  Europe
28                            Audi 100 LS  24.0      90.00         4  Europe
29                               Saab 99e  25.0      95.00         4  Europe
30                               BMW 2002  26.0      113.0         4  Europe
...                                   ...   ...        ...       ...     ...
377              Chevrolet Cavalier Wagon  27.0      88.00         4      US
378             Chevrolet Cavalier 2-door  34.0      88.00         4      US
379            Pontiac J2000 SE Hatchback  31.0      85.00         4      US
380                        Dodge Aries SE  29.0      84.00         4      US
381                       Pontiac Phoenix  27.0      90.00         4      US
382                  Ford Fairmont Futura  24.0      92.00         4      US
383                        AMC Concord DL  23.0          0         4      US
384                   Volkswagen Rabbit l  36.0      74.00         4  Europe
385                    Mazda GLC Custom l  37.0      68.00         4   Japan
386                      Mazda GLC Custom  31.0      68.00         4   Japan
387                Plymouth Horizon Miser  38.0      63.00         4      US
388                        Mercury Lynx l  36.0      70.00         4      US
389                      Nissan Stanza XE  36.0      88.00         4   Japan
390                          Honda Accord  36.0      75.00         4   Japan
391                        Toyota Corolla  34.0      70.00         4   Japan
392                           Honda Civic  38.0      67.00         4   Japan
393                    Honda Civic (auto)  32.0      67.00         4   Japan
394                         Datsun 310 GX  38.0      67.00         4   Japan
395                 Buick Century Limited  25.0      110.0         6      US
396     Oldsmobile Cutlass Ciera (diesel)  38.0      85.00         6      US
397            Chrysler Lebaron Medallion  26.0      92.00         4      US
398                        Ford Grenada l  22.0      112.0         6      US
399                      Toyota Celica GT  32.0      96.00         4   Japan
400                     Dodge Charger 2.2  36.0      84.00         4      US
401                      Chevrolet Camaro  27.0      90.00         4      US
402                       Ford Mustang GL  27.0      86.00         4      US
403                     Volkswagen Pickup  44.0      52.00         4  Europe
404                         Dodge Rampage  32.0      84.00         4      US
405                           Ford Ranger  28.0      79.00         4      US
406                            Chevy S-10  31.0      82.00         4      US

[406 rows x 5 columns]

In [123]:
most_fule_efficiant_cars = tidey_cars.sort_values(by = 'MPG', ascending=False).head(10)

In [124]:
most_fule_efficiant_cars

                                    Car   MPG Horsepower Cylinders  Origin
car_id
35                             Hi 1200D   9.0      193.0         8      US
330                           Mazda GLC  46.6      65.00         4   Japan
337                 Honda Civic 1500 gl  44.6      67.00         4   Japan
333        Volkswagen Rabbit C (Diesel)  44.3      48.00         4  Europe
403                   Volkswagen Pickup  44.0      52.00         4  Europe
334          Volkswagen Dasher (diesel)  43.4      48.00         4  Europe
252     Volkswagen Rabbit Custom Diesel  43.1      48.00         4  Europe
317                   Volkswagen Rabbit  41.5      76.00         4  Europe
338                Renault Lecar Deluxe  40.9          0         4  Europe
332                          Datsun 210  40.8      65.00         4   Japan

In [125]:
most_fule_efficiant_cars['Origin'].value_counts()

Europe    6
Japan     3
US        1
Name: Origin, dtype: int64

In [126]:
europes_most_fule_efficiant_cars = most_fule_efficiant_cars.loc[most_fule_efficiant_cars['Origin']=='Europe']
europes_most_fule_efficiant_cars

                                    Car   MPG Horsepower Cylinders  Origin
car_id
333        Volkswagen Rabbit C (Diesel)  44.3      48.00         4  Europe
403                   Volkswagen Pickup  44.0      52.00         4  Europe
334          Volkswagen Dasher (diesel)  43.4      48.00         4  Europe
252     Volkswagen Rabbit Custom Diesel  43.1      48.00         4  Europe
317                   Volkswagen Rabbit  41.5      76.00         4  Europe
338                Renault Lecar Deluxe  40.9          0         4  Europe

In [127]:
europes_most_fule_efficiant_cars.sort_values(by = 'Horsepower',ascending=False).head(1)

                      Car   MPG Horsepower Cylinders  Origin
car_id
317     Volkswagen Rabbit  41.5      76.00         4  Europe

In [128]:
salery_survey = pd.read_csv('Ask A Manager Salary Survey 2019 (Responses) - Form Responses 1.csv', header=1)
salery_survey

,Timestamp,How old are you?,What industry do you work in?,Job title,What is your annual salary?,Please indicate the currency,Where are you located? (City/state/country),How many years of post-college professional work experience do you have?,"If your job title needs additional context, please clarify here:","If ""Other,"" please indicate the currency here:"
0,4/24/2019 11:43:21,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years,NaN,NaN
1,4/24/2019 11:43:26,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years,NaN,NaN
2,4/24/2019 11:43:27,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years,NaN,NaN
3,4/24/2019 11:43:27,25-34,Biotechnology,Senior Scientist,34600,GBP,"Cardiff, UK",5-7 years,NaN,NaN
4,4/24/2019 11:43:29,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years,NaN,NaN
5,4/24/2019 11:43:29,25-34,Information Management,Associate Consultant,"45,000",USD,"Seattle, WA",8 - 10 years,NaN,NaN
6,4/24/2019 11:43:30,25-34,Nonprofit,Development Manager,"51,000",USD,"Dallas, Texas, United States",2 - 4 years,"I manage our fundraising department, primarily...",NaN
7,4/24/2019 11:43:30,25-34,Higher Education,Student Records Coordinator,"54,371",USD,Philadelphia,8 - 10 years,equivalent to Assistant Registrar,NaN
8,4/24/2019 11:43:34,35-44,Libraries,Director,45000,USD,"Bridgeport, mi. Usa",8 - 10 years,NaN,NaN
9,4/24/2019 11:43:35,25-34,Business Services,Copywriter,80000,USD,DC,11 - 20 years,NaN,NaN
10,4/24/2019 11:43:35,35-44,construction fastener sales,office manager,"72,000",USD,Brick NJ,21 - 30 years,I do sales and stock management as well - smal...,NaN
11,4/24/2019 11:43:35,25-34,Mental Health,HR and Administrative Coordinator,"50,000",USD,"Baltimore, Maryland, USA",5-7 years,one-man HR department and oversee administrati...,NaN
12,4/24/2019 11:43:37,25-34,Telecommunications,Marketing Manager,73 000$,CAD,"Montreal, QC, Canada",8 - 10 years,NaN,NaN
13,4/24/2019 11:43:37,25-34,Market research,Senior research executive,"30,000",GBP,"London, UK",5-7 years,NaN,NaN
14,4/24/2019 11:43:38,25-34,Education,Teacher,54000,USD,Geirgia,8 - 10 years,NaN,NaN
15,4/24/2019 11:43:39,35-44,Business Consulting,Senior Consultant,"$75,000.00",USD,"New Jersey, USA",11 - 20 years,Technical Writer,NaN
16,4/24/2019 11:43:39,25-34,Higher Ed,Associate Professor,"52,000",USD,Pittsburgh/PA/USA,8 - 10 years,Community College,NaN
17,4/24/2019 11:43:39,35-44,communications,communiity investment officer,68000,CAD,"ottawa, ontario, canada",8 - 10 years,NaN,NaN
18,4/24/2019 11:43:40,35-44,Film & Television,Visual Effects Compositor,"50,000",CAD,Toronto/ON/Canada,2 - 4 years,NaN,NaN
19,4/24/2019 11:43:41,25-34,media,senior marketing manager,90000,USD,"Washington, DC",8 - 10 years,NaN,NaN
20,4/24/2019 11:43:42,25-34,Publishing,Assistant Media Editor,"$41,000",USD,"New York, NY, USA",2 - 4 years,NaN,NaN
21,4/24/2019 11:43:42,25-34,Non-profit,Assistant Director of Development Research,"$67,500",USD,"Boston, MA, USA",5-7 years,NaN,NaN
22,4/24/2019 11:43:44,25-34,academic library,Public Services Coordinator,"50,000",USD,"MA, USA",11 - 20 years,I manage the circulation desk and student shel...,NaN
23,4/24/2019 11:43:44,35-44,Higher education,Instructional Consultant,"58,000",USD,"Wisconsin, U.S.",5-7 years,NaN,NaN
24,4/24/2019 11:43:47,25-34,Events,Event Producer,"70,000",USD,"Berkeley, CA, USA",5-7 years,NaN,NaN
25,4/24/2019 11:43:48,25-34,IT,Support QA Lead,"71,000",USD,Maryland,5-7 years,NaN,NaN
26,4/24/2019 11:43:48,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000,USD,"Sacramento, CA USA",5-7 years,catch all title for higher level admin/analyst...,NaN
27,4/24/2019 11:43:48,35-44,not for profit,convention coordinator,63 000,CAD,NaN,11 - 20 years,NaN,NaN
28,4/24/2019 11:43:49,35-44,Pet care,Pet sitter,"$15,000",USD,"Pittsburgh, PA",5-7 years,NaN,NaN
29,4/24/2019 11:43:49,45-54,Federal contractor for science-related agency,Senior Research Scientist,"106,000",USD,"Hampton Roads, VA, USA",11 - 20 years,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
33953,3/2/2020 16:51:39,35-44,Tech,Software Test Lead,82400,USD,"Charlotte, NC USA",8 - 10 years,NaN,NaN
33954,3/2/2020 18:38:11,25-34,Tech,EH&S Coordinator,70000,USD,"Montana, USA",2 - 4 years,Health and Safety Coordinator for 4 offices,NaN
33955,3/3/2020 10:02:44,18-24,Business Services,Data Management Specialist,40000,USD,"Austin, TX, USA",1 year or less,Essentially data entry/internet sleuthing,NaN
33956,3/3/2020 17:03:24,25-34,NaN,Strategy Associate,90000,USD,NYC,2 - 4 years,NaN,NaN
33957,3/4/2020 13:12:03,35-44,Libraries,Children's Librarian,"44,000",USD,"NH, USA",8 - 10 years,Children's librarian at a small public library.,NaN
33958,3/4/2020 13:45:52,35-44,Public Libraries,Jobs Librarian,55000,USD,Brooklyn NY US,5-7 years,"Resumes, outreach, resources",NaN
33959,3/4/2020 13:53:22,25-34,Finance,SPS Consultant,41600,USD,"South Jordan, Utah, United States",1 year or less,NaN,NaN
33960,3/4/2020 13:55:46,45-54,Public Libraries,Operational Excellence Manager,"94,100",USD,"Spokane, WA, USA",21 - 30 years,Process improvement and change management,NaN
33961,3/4/2020 13:57:19,35-44,Higher Education/Academic Library,Electronic Resources Librarian,"61,000",USD,Virginia,2 - 4 years,NaN,NaN
33962,3/4/2020 14:18:54,35-44,Education,Librarian,75000,USD,Lagrange/IL/USA,11 - 20 years,NaN,NaN
33963,3/4/2020 14:35:56,25-34,Library,Library Director,"80,000",USD,Illinois,8 - 10 years,NaN,NaN
33964,3/4/2020 14:56:42,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,"90,000",USD,"Philadelphia, PA, USA",8 - 10 years,NaN,NaN
33965,3/4/2020 15:05:44,18-24,Libraries,Digital Initiatives Librarian,"55,000",USD,"Kentucky, USA",1 year or less,Digital humanities oriented,NaN
33966,3/4/2020 15:28:02,45-54,Libraries,Librarian,"50,000",CAD,"Montreal, QC",11 - 20 years,school librarian (mlis/non-teacher),NaN
33967,3/4/2020 16:59:23,35-44,Public Library,Senior Librarian,"57, 500",USD,"Queens, New York",11 - 20 years,NaN,NaN
33968,3/4/2020 18:03:48,25-34,Software,Software Test Automation Engineer,73000,USD,"Central Coast CA, USA",2 - 4 years,programming automated tests,NaN
33969,3/4/2020 18:12:33,35-44,Public Library,Director,"89,010",USD,"East Greenbush, NY",11 - 20 years,NaN,NaN
33970,3/4/2020 20:59:10,25-34,higher education,Administrative assistant,45000,USD,CT,2 - 4 years,NaN,NaN
33971,3/4/2020 21:41:16,25-34,Non-Profit,Events Manager,"48,500",USD,"Chicago, IL, USA",5-7 years,Public Facing Paid Events Only,NaN
33972,3/5/2020 6:53:18,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years,DIGITAL AND SOCIAL MEDIA PPC ADS,NaN
33973,3/5/2020 13:17:59,25-34,Digital marketing,International Head of Digital,168500,USD,"Paris, France",11 - 20 years,NaN,NaN
33974,3/5/2020 14:03:50,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years,Provincial sales team coordinator,NaN
33975,3/5/2020 14:08:21,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years,Provincial sales team coordinator,NaN
33976,3/5/2020 14:56:50,35-44,Library (Public),Assistant Director,"27,000",USD,"Kentucky, USA",11 - 20 years,Also IT Admin and over Social Media and Marketing,NaN
33977,3/5/2020 15:17:01,25-34,Software,Client Relationship Manager,"55,000",USD,"Boise, Idaho, USA",1 year or less,NaN,NaN
33978,3/5/2020 17:21:47,25-34,Legal,Legal Assistant,69000,USD,New York,2 - 4 years,NaN,NaN
33979,3/5/2020 17:46:08,25-34,NaN,Strategy Analyst,"100,000",USD,Los Angeles,2 - 4 years,NaN,NaN
33980,3/5/2020 21:15:01,25-34,Library,Library Assistant,"$33,500",USD,"Austin, TX USA",2 - 4 years,NaN,NaN
33981,3/6/2020 14:25:44,25-34,Tech,HR Manager,55000,EUR,"Malaga, Spain",8 - 10 years,NaN,NaN
33982,3/7/2020 13:14:38,25-34,Tech,Full Stack Developer,58000,GBP,London,5-7 years,"Developing software, web and devops",NaN

In [129]:
salery_survey.isnull().sum()

Timestamp                                                                       0
How old are you?                                                                0
What industry do you work in?                                                 958
Job title                                                                       2
What is your annual salary?                                                     3
Please indicate the currency                                                    0
Where are you located? (City/state/country)                                  1742
How many years of post-college professional work experience do you have?        0
If your job title needs additional context, please clarify here:            26383
If "Other," please indicate the currency here:                              33710
dtype: int64

In [130]:
column_names = {'How old are you?':'age',
                'What industry do you work in?':'industry',
                'Job title':'job',
                'What is your annual salary?':'salary',
                'Please indicate the currency':'currency',
                'Where are you located? (City/state/country)':'city/state/country',
                'How many years of post-college professional work experience do you have?':'years_exsperience'
               }
tidey_salery_survey = (salery_survey.rename(columns=column_names)
                       [['age','industry','job', 'salary','currency','city/state/country','years_exsperience']]
                       .rename_axis('entry#').sort_index())
tidey_salery_survey

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years
1,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years
2,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years
3,25-34,Biotechnology,Senior Scientist,34600,GBP,"Cardiff, UK",5-7 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years
5,25-34,Information Management,Associate Consultant,"45,000",USD,"Seattle, WA",8 - 10 years
6,25-34,Nonprofit,Development Manager,"51,000",USD,"Dallas, Texas, United States",2 - 4 years
7,25-34,Higher Education,Student Records Coordinator,"54,371",USD,Philadelphia,8 - 10 years
8,35-44,Libraries,Director,45000,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000,USD,DC,11 - 20 years
10,35-44,construction fastener sales,office manager,"72,000",USD,Brick NJ,21 - 30 years
11,25-34,Mental Health,HR and Administrative Coordinator,"50,000",USD,"Baltimore, Maryland, USA",5-7 years
12,25-34,Telecommunications,Marketing Manager,73 000$,CAD,"Montreal, QC, Canada",8 - 10 years
13,25-34,Market research,Senior research executive,"30,000",GBP,"London, UK",5-7 years
14,25-34,Education,Teacher,54000,USD,Geirgia,8 - 10 years
15,35-44,Business Consulting,Senior Consultant,"$75,000.00",USD,"New Jersey, USA",11 - 20 years
16,25-34,Higher Ed,Associate Professor,"52,000",USD,Pittsburgh/PA/USA,8 - 10 years
17,35-44,communications,communiity investment officer,68000,CAD,"ottawa, ontario, canada",8 - 10 years
18,35-44,Film & Television,Visual Effects Compositor,"50,000",CAD,Toronto/ON/Canada,2 - 4 years
19,25-34,media,senior marketing manager,90000,USD,"Washington, DC",8 - 10 years
20,25-34,Publishing,Assistant Media Editor,"$41,000",USD,"New York, NY, USA",2 - 4 years
21,25-34,Non-profit,Assistant Director of Development Research,"$67,500",USD,"Boston, MA, USA",5-7 years
22,25-34,academic library,Public Services Coordinator,"50,000",USD,"MA, USA",11 - 20 years
23,35-44,Higher education,Instructional Consultant,"58,000",USD,"Wisconsin, U.S.",5-7 years
24,25-34,Events,Event Producer,"70,000",USD,"Berkeley, CA, USA",5-7 years
25,25-34,IT,Support QA Lead,"71,000",USD,Maryland,5-7 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000,USD,"Sacramento, CA USA",5-7 years
27,35-44,not for profit,convention coordinator,63 000,CAD,NaN,11 - 20 years
28,35-44,Pet care,Pet sitter,"$15,000",USD,"Pittsburgh, PA",5-7 years
29,45-54,Federal contractor for science-related agency,Senior Research Scientist,"106,000",USD,"Hampton Roads, VA, USA",11 - 20 years
...,...,...,...,...,...,...,...
33953,35-44,Tech,Software Test Lead,82400,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000,USD,"Austin, TX, USA",1 year or less
33956,25-34,NaN,Strategy Associate,90000,USD,NYC,2 - 4 years
33957,35-44,Libraries,Children's Librarian,"44,000",USD,"NH, USA",8 - 10 years
33958,35-44,Public Libraries,Jobs Librarian,55000,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600,USD,"South Jordan, Utah, United States",1 year or less
33960,45-54,Public Libraries,Operational Excellence Manager,"94,100",USD,"Spokane, WA, USA",21 - 30 years
33961,35-44,Higher Education/Academic Library,Electronic Resources Librarian,"61,000",USD,Virginia,2 - 4 years
33962,35-44,Education,Librarian,75000,USD,Lagrange/IL/USA,11 - 20 years
33963,25-34,Library,Library Director,"80,000",USD,Illinois,8 - 10 years
33964,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,"90,000",USD,"Philadelphia, PA, USA",8 - 10 years
33965,18-24,Libraries,Digital Initiatives Librarian,"55,000",USD,"Kentucky, USA",1 year or less
33966,45-54,Libraries,Librarian,"50,000",CAD,"Montreal, QC",11 - 20 years
33967,35-44,Public Library,Senior Librarian,"57, 500",USD,"Queens, New York",11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000,USD,"Central Coast CA, USA",2 - 4 years
33969,35-44,Public Library,Director,"89,010",USD,"East Greenbush, NY",11 - 20 years
33970,25-34,higher education,Administrative assistant,45000,USD,CT,2 - 4 years
33971,25-34,Non-Profit,Events Manager,"48,500",USD,"Chicago, IL, USA",5-7 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500,USD,"Paris, France",11 - 20 years
33974,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33975,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33976,35-44,Library (Public),Assistant Director,"27,000",USD,"Kentucky, USA",11 - 20 years
33977,25-34,Software,Client Relationship Manager,"55,000",USD,"Boise, Idaho, USA",1 year or less
33978,25-34,Legal,Legal Assistant,69000,USD,New York,2 - 4 years
33979,25-34,NaN,Strategy Analyst,"100,000",USD,Los Angeles,2 - 4 years
33980,25-34,Library,Library Assistant,"$33,500",USD,"Austin, TX USA",2 - 4 years
33981,25-34,Tech,HR Manager,55000,EUR,"Malaga, Spain",8 - 10 years
33982,25-34,Tech,Full Stack Developer,58000,GBP,London,5-7 years

In [131]:
tidey_salery_survey.isnull().sum()

age                      0
industry               958
job                      2
salary                   3
currency                 0
city/state/country    1742
years_exsperience        0
dtype: int64

In [132]:
tidey_salery_survey_copy = tidey_salery_survey.copy()
tidey_salery_survey_copy

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years
1,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years
2,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years
3,25-34,Biotechnology,Senior Scientist,34600,GBP,"Cardiff, UK",5-7 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years
5,25-34,Information Management,Associate Consultant,"45,000",USD,"Seattle, WA",8 - 10 years
6,25-34,Nonprofit,Development Manager,"51,000",USD,"Dallas, Texas, United States",2 - 4 years
7,25-34,Higher Education,Student Records Coordinator,"54,371",USD,Philadelphia,8 - 10 years
8,35-44,Libraries,Director,45000,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000,USD,DC,11 - 20 years
10,35-44,construction fastener sales,office manager,"72,000",USD,Brick NJ,21 - 30 years
11,25-34,Mental Health,HR and Administrative Coordinator,"50,000",USD,"Baltimore, Maryland, USA",5-7 years
12,25-34,Telecommunications,Marketing Manager,73 000$,CAD,"Montreal, QC, Canada",8 - 10 years
13,25-34,Market research,Senior research executive,"30,000",GBP,"London, UK",5-7 years
14,25-34,Education,Teacher,54000,USD,Geirgia,8 - 10 years
15,35-44,Business Consulting,Senior Consultant,"$75,000.00",USD,"New Jersey, USA",11 - 20 years
16,25-34,Higher Ed,Associate Professor,"52,000",USD,Pittsburgh/PA/USA,8 - 10 years
17,35-44,communications,communiity investment officer,68000,CAD,"ottawa, ontario, canada",8 - 10 years
18,35-44,Film & Television,Visual Effects Compositor,"50,000",CAD,Toronto/ON/Canada,2 - 4 years
19,25-34,media,senior marketing manager,90000,USD,"Washington, DC",8 - 10 years
20,25-34,Publishing,Assistant Media Editor,"$41,000",USD,"New York, NY, USA",2 - 4 years
21,25-34,Non-profit,Assistant Director of Development Research,"$67,500",USD,"Boston, MA, USA",5-7 years
22,25-34,academic library,Public Services Coordinator,"50,000",USD,"MA, USA",11 - 20 years
23,35-44,Higher education,Instructional Consultant,"58,000",USD,"Wisconsin, U.S.",5-7 years
24,25-34,Events,Event Producer,"70,000",USD,"Berkeley, CA, USA",5-7 years
25,25-34,IT,Support QA Lead,"71,000",USD,Maryland,5-7 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000,USD,"Sacramento, CA USA",5-7 years
27,35-44,not for profit,convention coordinator,63 000,CAD,NaN,11 - 20 years
28,35-44,Pet care,Pet sitter,"$15,000",USD,"Pittsburgh, PA",5-7 years
29,45-54,Federal contractor for science-related agency,Senior Research Scientist,"106,000",USD,"Hampton Roads, VA, USA",11 - 20 years
...,...,...,...,...,...,...,...
33953,35-44,Tech,Software Test Lead,82400,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000,USD,"Austin, TX, USA",1 year or less
33956,25-34,NaN,Strategy Associate,90000,USD,NYC,2 - 4 years
33957,35-44,Libraries,Children's Librarian,"44,000",USD,"NH, USA",8 - 10 years
33958,35-44,Public Libraries,Jobs Librarian,55000,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600,USD,"South Jordan, Utah, United States",1 year or less
33960,45-54,Public Libraries,Operational Excellence Manager,"94,100",USD,"Spokane, WA, USA",21 - 30 years
33961,35-44,Higher Education/Academic Library,Electronic Resources Librarian,"61,000",USD,Virginia,2 - 4 years
33962,35-44,Education,Librarian,75000,USD,Lagrange/IL/USA,11 - 20 years
33963,25-34,Library,Library Director,"80,000",USD,Illinois,8 - 10 years
33964,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,"90,000",USD,"Philadelphia, PA, USA",8 - 10 years
33965,18-24,Libraries,Digital Initiatives Librarian,"55,000",USD,"Kentucky, USA",1 year or less
33966,45-54,Libraries,Librarian,"50,000",CAD,"Montreal, QC",11 - 20 years
33967,35-44,Public Library,Senior Librarian,"57, 500",USD,"Queens, New York",11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000,USD,"Central Coast CA, USA",2 - 4 years
33969,35-44,Public Library,Director,"89,010",USD,"East Greenbush, NY",11 - 20 years
33970,25-34,higher education,Administrative assistant,45000,USD,CT,2 - 4 years
33971,25-34,Non-Profit,Events Manager,"48,500",USD,"Chicago, IL, USA",5-7 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500,USD,"Paris, France",11 - 20 years
33974,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33975,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33976,35-44,Library (Public),Assistant Director,"27,000",USD,"Kentucky, USA",11 - 20 years
33977,25-34,Software,Client Relationship Manager,"55,000",USD,"Boise, Idaho, USA",1 year or less
33978,25-34,Legal,Legal Assistant,69000,USD,New York,2 - 4 years
33979,25-34,NaN,Strategy Analyst,"100,000",USD,Los Angeles,2 - 4 years
33980,25-34,Library,Library Assistant,"$33,500",USD,"Austin, TX USA",2 - 4 years
33981,25-34,Tech,HR Manager,55000,EUR,"Malaga, Spain",8 - 10 years
33982,25-34,Tech,Full Stack Developer,58000,GBP,London,5-7 years

In [133]:
tidey_salery_survey_copy.fillna(value='UNKNOWN', inplace=True)
tidey_salery_survey_copy

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years
1,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years
2,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years
3,25-34,Biotechnology,Senior Scientist,34600,GBP,"Cardiff, UK",5-7 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years
5,25-34,Information Management,Associate Consultant,"45,000",USD,"Seattle, WA",8 - 10 years
6,25-34,Nonprofit,Development Manager,"51,000",USD,"Dallas, Texas, United States",2 - 4 years
7,25-34,Higher Education,Student Records Coordinator,"54,371",USD,Philadelphia,8 - 10 years
8,35-44,Libraries,Director,45000,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000,USD,DC,11 - 20 years
10,35-44,construction fastener sales,office manager,"72,000",USD,Brick NJ,21 - 30 years
11,25-34,Mental Health,HR and Administrative Coordinator,"50,000",USD,"Baltimore, Maryland, USA",5-7 years
12,25-34,Telecommunications,Marketing Manager,73 000$,CAD,"Montreal, QC, Canada",8 - 10 years
13,25-34,Market research,Senior research executive,"30,000",GBP,"London, UK",5-7 years
14,25-34,Education,Teacher,54000,USD,Geirgia,8 - 10 years
15,35-44,Business Consulting,Senior Consultant,"$75,000.00",USD,"New Jersey, USA",11 - 20 years
16,25-34,Higher Ed,Associate Professor,"52,000",USD,Pittsburgh/PA/USA,8 - 10 years
17,35-44,communications,communiity investment officer,68000,CAD,"ottawa, ontario, canada",8 - 10 years
18,35-44,Film & Television,Visual Effects Compositor,"50,000",CAD,Toronto/ON/Canada,2 - 4 years
19,25-34,media,senior marketing manager,90000,USD,"Washington, DC",8 - 10 years
20,25-34,Publishing,Assistant Media Editor,"$41,000",USD,"New York, NY, USA",2 - 4 years
21,25-34,Non-profit,Assistant Director of Development Research,"$67,500",USD,"Boston, MA, USA",5-7 years
22,25-34,academic library,Public Services Coordinator,"50,000",USD,"MA, USA",11 - 20 years
23,35-44,Higher education,Instructional Consultant,"58,000",USD,"Wisconsin, U.S.",5-7 years
24,25-34,Events,Event Producer,"70,000",USD,"Berkeley, CA, USA",5-7 years
25,25-34,IT,Support QA Lead,"71,000",USD,Maryland,5-7 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000,USD,"Sacramento, CA USA",5-7 years
27,35-44,not for profit,convention coordinator,63 000,CAD,UNKNOWN,11 - 20 years
28,35-44,Pet care,Pet sitter,"$15,000",USD,"Pittsburgh, PA",5-7 years
29,45-54,Federal contractor for science-related agency,Senior Research Scientist,"106,000",USD,"Hampton Roads, VA, USA",11 - 20 years
...,...,...,...,...,...,...,...
33953,35-44,Tech,Software Test Lead,82400,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000,USD,"Austin, TX, USA",1 year or less
33956,25-34,UNKNOWN,Strategy Associate,90000,USD,NYC,2 - 4 years
33957,35-44,Libraries,Children's Librarian,"44,000",USD,"NH, USA",8 - 10 years
33958,35-44,Public Libraries,Jobs Librarian,55000,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600,USD,"South Jordan, Utah, United States",1 year or less
33960,45-54,Public Libraries,Operational Excellence Manager,"94,100",USD,"Spokane, WA, USA",21 - 30 years
33961,35-44,Higher Education/Academic Library,Electronic Resources Librarian,"61,000",USD,Virginia,2 - 4 years
33962,35-44,Education,Librarian,75000,USD,Lagrange/IL/USA,11 - 20 years
33963,25-34,Library,Library Director,"80,000",USD,Illinois,8 - 10 years
33964,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,"90,000",USD,"Philadelphia, PA, USA",8 - 10 years
33965,18-24,Libraries,Digital Initiatives Librarian,"55,000",USD,"Kentucky, USA",1 year or less
33966,45-54,Libraries,Librarian,"50,000",CAD,"Montreal, QC",11 - 20 years
33967,35-44,Public Library,Senior Librarian,"57, 500",USD,"Queens, New York",11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000,USD,"Central Coast CA, USA",2 - 4 years
33969,35-44,Public Library,Director,"89,010",USD,"East Greenbush, NY",11 - 20 years
33970,25-34,higher education,Administrative assistant,45000,USD,CT,2 - 4 years
33971,25-34,Non-Profit,Events Manager,"48,500",USD,"Chicago, IL, USA",5-7 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500,USD,"Paris, France",11 - 20 years
33974,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33975,25-34,Finance,"Territory Coordinator, Asset Management Sales",44000,CAD,Montreal,2 - 4 years
33976,35-44,Library (Public),Assistant Director,"27,000",USD,"Kentucky, USA",11 - 20 years
33977,25-34,Software,Client Relationship Manager,"55,000",USD,"Boise, Idaho, USA",1 year or less
33978,25-34,Legal,Legal Assistant,69000,USD,New York,2 - 4 years
33979,25-34,UNKNOWN,Strategy Analyst,"100,000",USD,Los Angeles,2 - 4 years
33980,25-34,Library,Library Assistant,"$33,500",USD,"Austin, TX USA",2 - 4 years
33981,25-34,Tech,HR Manager,55000,EUR,"Malaga, Spain",8 - 10 years
33982,25-34,Tech,Full Stack Developer,58000,GBP,London,5-7 years

In [134]:
tidey_salery_survey_copy.isnull().sum()

age                   0
industry              0
job                   0
salary                0
currency              0
city/state/country    0
years_exsperience     0
dtype: int64

In [135]:
tidey_salery_survey_copy['age'].value_counts()

25-34         15138
35-44         10268
45-54          4528
18-24          1861
55-64          1840
65 or over      297
under 18         51
Name: age, dtype: int64

In [136]:
Top_salerys = tidey_salery_survey_copy.sort_values(by='salary', ascending = False).head(100)
Top_salerys

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
31078,25-34,Technology,Software Engineer,₹ 2200000,Other,Delhi,2 - 4 years
13177,35-44,local government,assistant staff officer,"€41,000",EUR,ireland,11 - 20 years
12375,25-34,Media,English Editor & Translator,"€30,000",EUR,"Berlin, Germany",8 - 10 years
7805,25-34,Teaching,Teacher,"€22,000",EUR,Ireland,1 year or less
26758,25-34,Entertainment,Stage Coordinator / Manager,"¥4,000,000",JPY,Osaka/Japan,11 - 20 years
11130,25-34,Aerospace,Project manager,"£90,000",GBP,Portsmouth/UK,8 - 10 years
10153,25-34,Mental health,Recovery Navigator,£9 per hour,GBP,Birmingham,5-7 years
7066,45-54,Non-profit,General legal counsel,£85000,GBP,London,21 - 30 years
11054,35-44,Uk Film Industry,Senior Draughtsman,"£80,000",GBP,"London, England",11 - 20 years
6951,35-44,Theatre,Playwright,"£80,000",GBP,London,2 - 4 years
13087,25-34,Tech,Technical Lead,£63000,GBP,London,8 - 10 years
13080,55-64,Higher education,Associate dean,£62000,GBP,"Hertfordshire, UK",21 - 30 years
11160,45-54,Higher Education,Faculty Education Manager,"£62,000",GBP,"London, UK",21 - 30 years
3342,35-44,Education,University lecturer and manager,£60000,GBP,UK (north east),11 - 20 years
8498,35-44,marketing,Head of Digital Content,£56000,GBP,"London, UK",11 - 20 years
25650,25-34,Finance,Assistant Vice President,"£55,000",GBP,London,5-7 years
24607,35-44,Healthcare nhs,Service manager,£52000,GBP,ESSEX Chelmsford,11 - 20 years
31817,25-34,Education,Assistant Headteacher,£50000,GBP,London,5-7 years
299,25-34,Advertising,Strategist,£50000,GBP,London,8 - 10 years
2665,25-34,Education,Tutor,£5000,GBP,London,5-7 years
9139,35-44,Social work,Team Manager,£48846,GBP,United Kingdom,11 - 20 years
13826,25-34,Medicine,Senior house officer,£47438,GBP,London,5-7 years
29330,45-54,Education,Course leader,"£46,000",GBP,London,21 - 30 years
15422,35-44,Civil engineering,Principal Geotechnical Engineer,£45000,GBP,Bristol UK,11 - 20 years
18540,25-34,Finance,Category buyer,"£45,000",GBP,United kingdom,2 - 4 years
11619,45-54,Local Givernment,Adult Learning Manager,"£44, 500",GBP,Hampshire / UK,11 - 20 years
6891,35-44,Rail,Learning & Development Manager,£42000,GBP,"Manchester, UK",11 - 20 years
11338,25-34,Charity retail,Manager/Buyer,"£42,500",GBP,"Windsor, UK",5-7 years
9100,25-34,Digital,Cro,"£41,500",GBP,Uk,5-7 years
13294,25-34,Publishing,Senior Manager,"£41,000",GBP,London,8 - 10 years
...,...,...,...,...,...,...,...
30592,18-24,Marketing,Marketing executive,"£24,000",GBP,Warwickshire,1 year or less
10216,35-44,Retail/Optics,Contact Lens Optician,£22000,GBP,"Worcestershire, UK",11 - 20 years
11202,25-34,Education,Marketing and Recruitment Coordinator,"£22,000",GBP,"UK, south east",5-7 years
2729,25-34,Arts / Theatre / NFP,Communications Officere,"£22,000",GBP,"London, UK",2 - 4 years
16387,25-34,Retail,Assistant Manager,£21000,GBP,"Sheffield, UK",11 - 20 years
32974,25-34,Pensions,Junior Pensions Administrator,"£21,000",GBP,England,1 year or less
3768,25-34,Print,Marketing assistant,"£21,000",GBP,Leicester United Kingdom,2 - 4 years
12067,25-34,Theatre,Box Office & Customer Service Rep,£20800,GBP,London UK,5-7 years
11394,25-34,Construction Consultancy,Admin,"£20,500",GBP,"Manchester, England",2 - 4 years
8988,35-44,Newspaper publishing,Graphic Designer,"£20,500",GBP,"Norwich, Norfolk, UK",11 - 20 years
24651,35-44,Civil Service,Administrative Officer,"£19,500.00",GBP,Manchester England,11 - 20 years
4470,25-34,Tech,Customer Service Consultant,"£17,000",GBP,"Norwich, UK",2 - 4 years
11642,18-24,Legal,Case Worker,"£15,200",GBP,"Cardiff, United Kingdom",1 year or less
31780,18-24,Hospitality,Porter,£14700,GBP,UNKNOWN,5-7 years
1996,18-24,Health and social care,Quality Administrator Support Services,£13k,GBP,Cheltenham,5-7 years
14878,35-44,Data and technology,Director - legal business partner,"£106,000",GBP,"London, UK",11 - 20 years
5925,25-34,Publishing,Commissioning Editor,~£29.5k,GBP,"London, UK",8 - 10 years
12901,25-34,education,teacher,~75000,CAD,Alberta/Canada,5-7 years
7861,25-34,Library Science,Medical Librarian,"~65,000",CAD,Canada,2 - 4 years
19373,25-34,Public education,Speech-language pathologist,"~58,000",USD,Illinois/USA,2 - 4 years
12946,25-34,Nonprofit,Counsellor,"~54,400",CAD,"Toronto, ON",2 - 4 years
10885,25-34,Retail,Assistant Store Manager,~52000,USD,"Hillsboro, Oregon",8 - 10 years
22329,18-24,Education,Director of Music - HS,"~45,357",USD,"Philadelphia, PA, USA",2 - 4 years
23262,35-44,Inventory,Survey Specialist,~31200,USD,United States,11 - 20 years
23256,35-44,Inventory,Survey Specialist,~31200,USD,United States,11 - 20 years
9136,25-34,TEFL,Native Speaking English Teacher,"~27,600,000",USD,"Seoul, South Korea",2 - 4 years
7311,18-24,Medicine,Medical scribe,"~17,000",USD,Worcester MA,1 year or less
13306,under 18,Customer Service,Concession Attendant,"~12, 650$",CAD,"Fort St. John, BC, Canada",1 year or less
4376,35-44,Healthcare,Clinical psychologist,"~109,000",USD,Martinsburg WV,11 - 20 years
11293,25-34,Software,Accountant,~100K package,AUD/NZD,"Brisbane, Queensland, Australia",8 - 10 years

In [137]:
Top_salerys['currency'].value_counts()

GBP        82
USD         8
CAD         4
EUR         3
AUD/NZD     1
Other       1
JPY         1
Name: currency, dtype: int64

In [138]:
tidey_salery_survey_copy['currency'].value_counts()

USD        29844
CAD         1681
GBP         1000
AUD/NZD      663
EUR          490
Other        180
CHF           35
JPY           34
SEK           26
HKD           15
ZAR           15
Name: currency, dtype: int64

In [139]:
other = tidey_salery_survey_copy.loc[tidey_salery_survey_copy['currency']== 'Other']
other

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
242,25-34,Fintech,Corporate Social Responsibility Manager,1760000,Other,India,8 - 10 years
1196,35-44,software development,products engineer,1200000,Other,Chile,8 - 10 years
1275,35-44,IT,Software Engineer Manager,800000,Other,Mexico,11 - 20 years
2053,55-64,Government/Diplomatic,Administrative Assistant/Secretary,"34,800",Other,Caribbean,31 - 40 years
3560,25-34,Legal,Police attorney/prosecutor,619000,Other,Norway,2 - 4 years
3806,25-34,Advertising,Executive Strategic Marketing and Advertising,"900,000",Other,Sri Lanka,2 - 4 years
4507,25-34,Public Service,Sub-Editor of the Official Report,"$193,000 (approx gross)",Other,Trinidad and Tobago,5-7 years
5393,45-54,Publishing,Editor,"$32,000",Other,Israel,8 - 10 years
5485,35-44,Research,Senior researcher,720000,Other,Denmark,11 - 20 years
5887,65 or over,Academia,Adjunct professor,"45,000",Other,"San Pedro GG, NL, Mexico",31 - 40 years
6315,35-44,Finance,Research Assistant,75K,Other,Hamilton BDA,11 - 20 years
6497,25-34,Software,Platform tech lead,"$53,000",Other,"Mexico City, Mexico",2 - 4 years
6682,25-34,e-commerce,e-commerce specialist,92400,Other,"Warsaw, Poland",8 - 10 years
6759,35-44,Software development,Software engineer,106000,Other,Switzerland / Solothurn,11 - 20 years
7165,35-44,Government,Records manager,640,Other,Norway,5-7 years
8023,35-44,Internet Software,Products Engineer,14640000,Other,Chile,8 - 10 years
8334,25-34,Telecom,Project Coordinator,4920000,Other,Budapest/Hungary,2 - 4 years
8403,35-44,Manufacturing,"Technical Lead, Engineering",612000,Other,Denmark,21 - 30 years
9158,25-34,Professional Services,Administrative,"300,000",Other,Argentina,2 - 4 years
9910,25-34,Education,Native English teacher,"2,500,000",Other,"Changwon City, Gyeongsangnam-do South Korea",5-7 years
10082,25-34,Technology,Design & Marketing,43980,Other,Malaysia,2 - 4 years
10436,25-34,Tourism (Museums),Tourism Officer III,480000,Other,Philippines,5-7 years
10470,25-34,Manufacturing,Corporate Communications Executive,34800,Other,UNKNOWN,2 - 4 years
10734,25-34,Fast Moving Consumer Goods (FMCG),Assistant Brand Manager (Marketing),"600,000",Other,Philippines,5-7 years
10760,18-24,IT,Support Executive,24000,Other,Singapore,2 - 4 years
10831,25-34,Healthcare,Registered nurse,90000,Other,Alberta canada,2 - 4 years
10836,45-54,Private Education company,Director of Academic Operations,90000000,Other,"Jakarta, Indonesia",11 - 20 years
10853,18-24,Digital Marketing,Digital Marketing Executive,50000,Other,"Bangkok, Thailand",1 year or less
10926,25-34,IT,Technology Consultant,900000,Other,"Manila, Philippines",8 - 10 years
10964,35-44,Banking,Junior IT Analyst,516000,Other,Prague/Czech republic,11 - 20 years
...,...,...,...,...,...,...,...
31147,25-34,marketing - agency,Analyst,240,Other,Denmark,2 - 4 years
31183,18-24,Software Development,Junior Software Developer,"96,000",Other,"Poland, Kraków",1 year or less
31196,25-34,Consulting,Senior Business Consultant,43056,Other,Bulgaria,2 - 4 years
31372,35-44,Medical,Practice manager,"80,000",Other,Northampton ma,8 - 10 years
31373,35-44,Medical,Practice manager,"80,000",Other,Northampton ma,8 - 10 years
31423,25-34,UNKNOWN,VP Design,1.1cr,Other,UNKNOWN,8 - 10 years
31591,25-34,Technology,Compliance Analyst,47600,Other,Singapore,1 year or less
31727,35-44,Aviation Airline,Planning Engineering Executive,90000,Other,Malaysia,11 - 20 years
31742,18-24,Telecom,Transport enginer,650009,Other,Chennai/Tamilnadu/India,2 - 4 years
31794,25-34,Hospitality,Marketing manager,48000,Other,Brazil,2 - 4 years
31913,25-34,Academia,Engineer,600000,Other,CZ,1 year or less
32055,18-24,IT,Product Manager,910000,Other,Philippines,2 - 4 years
32078,25-34,UNKNOWN,Analyst,4000000,Other,India,2 - 4 years
32343,25-34,ESL,Curriculum Manager,55200000,Other,Korea,5-7 years
32484,18-24,Software,Applications Developer 2,455000,Other,Mexico,1 year or less
32527,18-24,Publishing,Multimedia Artist,"216,000",Other,Philippines,1 year or less
32645,35-44,Bank,Information security specialist,84000,Other,Singapore,11 - 20 years
32665,18-24,it,specialist,840000,Other,Russia Moscow,2 - 4 years
32722,18-24,Teacher,Teacher,200000,Other,India,2 - 4 years
32738,45-54,Telecommunications,System Analyst,240000,Other,"Jerusalem, Israel",21 - 30 years
32749,25-34,oil & gas,technical sales engineer,31500,Other,Malaysia,2 - 4 years
32824,18-24,Consulting,Analyst,3200000,Other,Lagos,1 year or less
32838,25-34,Wholesale,Manager,60000,Other,Singapore,5-7 years
32868,35-44,It,Ai engineer,86400,Other,Singapore,11 - 20 years
33256,35-44,Government,Senior manager,S$132000,Other,Sgp,11 - 20 years
33536,25-34,Energy and Renewables,Analyst,450000,Other,"Bengaluru, India",5-7 years
33670,35-44,Media,"Regional Director, insight & Analytics",218000,Other,Singapore,11 - 20 years
33754,35-44,advertising,creative art director,"146.640,00",Other,"São Paulo, SP, Brazil",11 - 20 years
33886,25-34,Oil and Gas,Mechanical Engineer,51300,Other,Singapore,1 year or less
33927,18-24,Non-profit,Corporate Communications Officer,"$25,200",Other,Singapore,1 year or less

in the us what age group makes the most money

In [140]:
us_salaries = tidey_salery_survey_copy.loc[tidey_salery_survey_copy['currency']== 'USD']
us_salaries

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years
1,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years
2,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years
5,25-34,Information Management,Associate Consultant,"45,000",USD,"Seattle, WA",8 - 10 years
6,25-34,Nonprofit,Development Manager,"51,000",USD,"Dallas, Texas, United States",2 - 4 years
7,25-34,Higher Education,Student Records Coordinator,"54,371",USD,Philadelphia,8 - 10 years
8,35-44,Libraries,Director,45000,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000,USD,DC,11 - 20 years
10,35-44,construction fastener sales,office manager,"72,000",USD,Brick NJ,21 - 30 years
11,25-34,Mental Health,HR and Administrative Coordinator,"50,000",USD,"Baltimore, Maryland, USA",5-7 years
14,25-34,Education,Teacher,54000,USD,Geirgia,8 - 10 years
15,35-44,Business Consulting,Senior Consultant,"$75,000.00",USD,"New Jersey, USA",11 - 20 years
16,25-34,Higher Ed,Associate Professor,"52,000",USD,Pittsburgh/PA/USA,8 - 10 years
19,25-34,media,senior marketing manager,90000,USD,"Washington, DC",8 - 10 years
20,25-34,Publishing,Assistant Media Editor,"$41,000",USD,"New York, NY, USA",2 - 4 years
21,25-34,Non-profit,Assistant Director of Development Research,"$67,500",USD,"Boston, MA, USA",5-7 years
22,25-34,academic library,Public Services Coordinator,"50,000",USD,"MA, USA",11 - 20 years
23,35-44,Higher education,Instructional Consultant,"58,000",USD,"Wisconsin, U.S.",5-7 years
24,25-34,Events,Event Producer,"70,000",USD,"Berkeley, CA, USA",5-7 years
25,25-34,IT,Support QA Lead,"71,000",USD,Maryland,5-7 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000,USD,"Sacramento, CA USA",5-7 years
28,35-44,Pet care,Pet sitter,"$15,000",USD,"Pittsburgh, PA",5-7 years
29,45-54,Federal contractor for science-related agency,Senior Research Scientist,"106,000",USD,"Hampton Roads, VA, USA",11 - 20 years
30,45-54,County Government,Department Head,"$71,000",USD,"Milwaukee, Wisconsin USA",21 - 30 years
31,35-44,Non-profit,Grant Writer & Planner,"45,000",USD,Miami,8 - 10 years
32,25-34,Catering,Catering Lead,45000,USD,San Francisco/CA/USA,2 - 4 years
33,35-44,Construction,Human Resources Manager,95000,USD,"Virginia, United States",11 - 20 years
34,45-54,Property Management,Property Manager,"139,000.00",USD,"Washington, DC",21 - 30 years
35,18-24,E-commerce,Business Analyst,68000,USD,"Boston, MA, United States of America",1 year or less
...,...,...,...,...,...,...,...
33946,18-24,Journalism,Web Producer,"50,000",USD,"Washington, D.C.",2 - 4 years
33947,25-34,Enterprise Software,Senior Marketing Communications Manager,"85,500",USD,"Yarmouth, Maine, USA",8 - 10 years
33949,45-54,Technology,Human Resources Business Partner,256000,USD,San Francisco,11 - 20 years
33951,25-34,Computer Engineering,NPI Engineer,70000,USD,Fremont/CA/USA,2 - 4 years
33952,25-34,Executive Compensation,Senior Consultant,"350,000",USD,"San Jose, CA",8 - 10 years
33953,35-44,Tech,Software Test Lead,82400,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000,USD,"Austin, TX, USA",1 year or less
33956,25-34,UNKNOWN,Strategy Associate,90000,USD,NYC,2 - 4 years
33957,35-44,Libraries,Children's Librarian,"44,000",USD,"NH, USA",8 - 10 years
33958,35-44,Public Libraries,Jobs Librarian,55000,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600,USD,"South Jordan, Utah, United States",1 year or less
33960,45-54,Public Libraries,Operational Excellence Manager,"94,100",USD,"Spokane, WA, USA",21 - 30 years
33961,35-44,Higher Education/Academic Library,Electronic Resources Librarian,"61,000",USD,Virginia,2 - 4 years
33962,35-44,Education,Librarian,75000,USD,Lagrange/IL/USA,11 - 20 years
33963,25-34,Library,Library Director,"80,000",USD,Illinois,8 - 10 years
33964,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,"90,000",USD,"Philadelphia, PA, USA",8 - 10 years
33965,18-24,Libraries,Digital Initiatives Librarian,"55,000",USD,"Kentucky, USA",1 year or less
33967,35-44,Public Library,Senior Librarian,"57, 500",USD,"Queens, New York",11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000,USD,"Central Coast CA, USA",2 - 4 years
33969,35-44,Public Library,Director,"89,010",USD,"East Greenbush, NY",11 - 20 years
33970,25-34,higher education,Administrative assistant,45000,USD,CT,2 - 4 years
33971,25-34,Non-Profit,Events Manager,"48,500",USD,"Chicago, IL, USA",5-7 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500,USD,"Paris, France",11 - 20 years
33976,35-44,Library (Public),Assistant Director,"27,000",USD,"Kentucky, USA",11 - 20 years
33977,25-34,Software,Client Relationship Manager,"55,000",USD,"Boise, Idaho, USA",1 year or less
33978,25-34,Legal,Legal Assistant,69000,USD,New York,2 - 4 years
33979,25-34,UNKNOWN,Strategy Analyst,"100,000",USD,Los Angeles,2 - 4 years
33980,25-34,Library,Library Assistant,"$33,500",USD,"Austin, TX USA",2 - 4 years

In [141]:
us_salaries.salary = pd.to_numeric(us_salaries['salary'], errors='coerce')

In [142]:
us_salaries

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000.0,USD,"Nashville, TN",11 - 20 years
1,25-34,Environmental nonprofit,Operations Director,NaN,USD,"Madison, Wi",8 - 10 years
2,18-24,Market Research,Market Research Assistant,NaN,USD,"Las Vegas, NV",2 - 4 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000.0,USD,"Southeast Michigan, USA",5-7 years
5,25-34,Information Management,Associate Consultant,NaN,USD,"Seattle, WA",8 - 10 years
6,25-34,Nonprofit,Development Manager,NaN,USD,"Dallas, Texas, United States",2 - 4 years
7,25-34,Higher Education,Student Records Coordinator,NaN,USD,Philadelphia,8 - 10 years
8,35-44,Libraries,Director,45000.0,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000.0,USD,DC,11 - 20 years
10,35-44,construction fastener sales,office manager,NaN,USD,Brick NJ,21 - 30 years
11,25-34,Mental Health,HR and Administrative Coordinator,NaN,USD,"Baltimore, Maryland, USA",5-7 years
14,25-34,Education,Teacher,54000.0,USD,Geirgia,8 - 10 years
15,35-44,Business Consulting,Senior Consultant,NaN,USD,"New Jersey, USA",11 - 20 years
16,25-34,Higher Ed,Associate Professor,NaN,USD,Pittsburgh/PA/USA,8 - 10 years
19,25-34,media,senior marketing manager,90000.0,USD,"Washington, DC",8 - 10 years
20,25-34,Publishing,Assistant Media Editor,NaN,USD,"New York, NY, USA",2 - 4 years
21,25-34,Non-profit,Assistant Director of Development Research,NaN,USD,"Boston, MA, USA",5-7 years
22,25-34,academic library,Public Services Coordinator,NaN,USD,"MA, USA",11 - 20 years
23,35-44,Higher education,Instructional Consultant,NaN,USD,"Wisconsin, U.S.",5-7 years
24,25-34,Events,Event Producer,NaN,USD,"Berkeley, CA, USA",5-7 years
25,25-34,IT,Support QA Lead,NaN,USD,Maryland,5-7 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000.0,USD,"Sacramento, CA USA",5-7 years
28,35-44,Pet care,Pet sitter,NaN,USD,"Pittsburgh, PA",5-7 years
29,45-54,Federal contractor for science-related agency,Senior Research Scientist,NaN,USD,"Hampton Roads, VA, USA",11 - 20 years
30,45-54,County Government,Department Head,NaN,USD,"Milwaukee, Wisconsin USA",21 - 30 years
31,35-44,Non-profit,Grant Writer & Planner,NaN,USD,Miami,8 - 10 years
32,25-34,Catering,Catering Lead,45000.0,USD,San Francisco/CA/USA,2 - 4 years
33,35-44,Construction,Human Resources Manager,95000.0,USD,"Virginia, United States",11 - 20 years
34,45-54,Property Management,Property Manager,NaN,USD,"Washington, DC",21 - 30 years
35,18-24,E-commerce,Business Analyst,68000.0,USD,"Boston, MA, United States of America",1 year or less
...,...,...,...,...,...,...,...
33946,18-24,Journalism,Web Producer,NaN,USD,"Washington, D.C.",2 - 4 years
33947,25-34,Enterprise Software,Senior Marketing Communications Manager,NaN,USD,"Yarmouth, Maine, USA",8 - 10 years
33949,45-54,Technology,Human Resources Business Partner,256000.0,USD,San Francisco,11 - 20 years
33951,25-34,Computer Engineering,NPI Engineer,70000.0,USD,Fremont/CA/USA,2 - 4 years
33952,25-34,Executive Compensation,Senior Consultant,NaN,USD,"San Jose, CA",8 - 10 years
33953,35-44,Tech,Software Test Lead,82400.0,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000.0,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000.0,USD,"Austin, TX, USA",1 year or less
33956,25-34,UNKNOWN,Strategy Associate,90000.0,USD,NYC,2 - 4 years
33957,35-44,Libraries,Children's Librarian,NaN,USD,"NH, USA",8 - 10 years
33958,35-44,Public Libraries,Jobs Librarian,55000.0,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600.0,USD,"South Jordan, Utah, United States",1 year or less
33960,45-54,Public Libraries,Operational Excellence Manager,NaN,USD,"Spokane, WA, USA",21 - 30 years
33961,35-44,Higher Education/Academic Library,Electronic Resources Librarian,NaN,USD,Virginia,2 - 4 years
33962,35-44,Education,Librarian,75000.0,USD,Lagrange/IL/USA,11 - 20 years
33963,25-34,Library,Library Director,NaN,USD,Illinois,8 - 10 years
33964,25-34,Biotech/Pharmaceutical,Trial Master File Specialist,NaN,USD,"Philadelphia, PA, USA",8 - 10 years
33965,18-24,Libraries,Digital Initiatives Librarian,NaN,USD,"Kentucky, USA",1 year or less
33967,35-44,Public Library,Senior Librarian,NaN,USD,"Queens, New York",11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000.0,USD,"Central Coast CA, USA",2 - 4 years
33969,35-44,Public Library,Director,NaN,USD,"East Greenbush, NY",11 - 20 years
33970,25-34,higher education,Administrative assistant,45000.0,USD,CT,2 - 4 years
33971,25-34,Non-Profit,Events Manager,NaN,USD,"Chicago, IL, USA",5-7 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000.0,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500.0,USD,"Paris, France",11 - 20 years
33976,35-44,Library (Public),Assistant Director,NaN,USD,"Kentucky, USA",11 - 20 years
33977,25-34,Software,Client Relationship Manager,NaN,USD,"Boise, Idaho, USA",1 year or less
33978,25-34,Legal,Legal Assistant,69000.0,USD,New York,2 - 4 years
33979,25-34,UNKNOWN,Strategy Analyst,NaN,USD,Los Angeles,2 - 4 years
33980,25-34,Library,Library Assistant,NaN,USD,"Austin, TX USA",2 - 4 years

In [143]:
us_salaries_int = us_salaries.dropna()
us_salaries_int

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
0,35-44,Government,Talent Management Asst. Director,75000.0,USD,"Nashville, TN",11 - 20 years
4,25-34,Healthcare,Social worker (embedded in primary care),55000.0,USD,"Southeast Michigan, USA",5-7 years
8,35-44,Libraries,Director,45000.0,USD,"Bridgeport, mi. Usa",8 - 10 years
9,25-34,Business Services,Copywriter,80000.0,USD,DC,11 - 20 years
14,25-34,Education,Teacher,54000.0,USD,Geirgia,8 - 10 years
19,25-34,media,senior marketing manager,90000.0,USD,"Washington, DC",8 - 10 years
26,25-34,state government - business mgmt/facilities,Associate Governmental Program Analyst,60000.0,USD,"Sacramento, CA USA",5-7 years
32,25-34,Catering,Catering Lead,45000.0,USD,San Francisco/CA/USA,2 - 4 years
33,35-44,Construction,Human Resources Manager,95000.0,USD,"Virginia, United States",11 - 20 years
35,18-24,E-commerce,Business Analyst,68000.0,USD,"Boston, MA, United States of America",1 year or less
36,35-44,Media,Senior Editor,79000.0,USD,UNKNOWN,11 - 20 years
37,45-54,Design Build,Content Marketing Specialist,56000.0,USD,St. Louis/Missouri/USA,21 - 30 years
38,45-54,Academia,Personnel Coordinator,42000.0,USD,NC,21 - 30 years
49,25-34,Mental health,Social worker,51500.0,USD,"St. Paul, Minnesota",2 - 4 years
50,35-44,Networking,Business Intelligence Analyst,109000.0,USD,"North Carolina, USA",11 - 20 years
51,25-34,National Security/Academia,Project Manager,61700.0,USD,"Blacksburg, Virginia",5-7 years
58,35-44,K-12 Education,Lead Programmer,106000.0,USD,"Sacramento, CA, USA",8 - 10 years
59,35-44,Wholesale,HR Manager,52000.0,USD,Springfield/Il/USA,8 - 10 years
62,45-54,Consulting,"Director, Consulting",182000.0,USD,Seattle/WA/USA,21 - 30 years
65,25-34,Healthcare,Decision Support Analyst,75500.0,USD,"Mississippi, USA",8 - 10 years
69,25-34,Financial services,Senior manager,116245.0,USD,"New york, ny",11 - 20 years
71,35-44,Academia,Plan Room Librarian,42000.0,USD,"Raleigh, NC, USA",11 - 20 years
72,35-44,Finance/Accounting,Full Charge Bookkeeper,39000.0,USD,"Tucson, AZ, USA",11 - 20 years
74,35-44,Government,Natural Resource Specialist IV,60000.0,USD,"Austin, Texas",11 - 20 years
77,25-34,Libraries,Director of Planning & Training,65000.0,USD,Spartanburg/SC/USA,8 - 10 years
82,35-44,Finance,Financial services manager,42000.0,USD,Asheville NC USA,8 - 10 years
83,25-34,Accounting,Senior Accountant,75000.0,USD,"Philadelphia, PA suburbs",2 - 4 years
84,35-44,Healthcare,Account manager,70070.0,USD,Blue Bell/PA/USA,8 - 10 years
85,25-34,Law,Assistant Appellate Defender,66512.0,USD,"Santa Fe, NM, USA",8 - 10 years
88,25-34,higher education,librarian,55000.0,USD,"Philadelphia, PA",2 - 4 years
...,...,...,...,...,...,...,...
33916,25-34,Nonprofit,Salesforce Manager,109000.0,USD,"San Francisco, CA, USA",11 - 20 years
33917,25-34,science,research technician III,49800.0,USD,Chicago/IL/USA,5-7 years
33918,25-34,fundraising,"Senior Analyst, Principal Gifts & Strategic In...",88000.0,USD,"Berkeley, CA",8 - 10 years
33919,25-34,Finance,Investment Advisor,110000.0,USD,"San Francisco, CA",5-7 years
33921,25-34,Software Engineering,Manager Technology,130000.0,USD,Arlington/VA/USA,11 - 20 years
33923,25-34,Healthcare/Nonprofit/Government,Grants Manager,80000.0,USD,"NYC, NY",5-7 years
33925,45-54,Events,Senior Project Manager,92000.0,USD,"New York, NY USA",21 - 30 years
33928,18-24,Software,Associate Product Manager,72000.0,USD,"Wayne, PA, USA",2 - 4 years
33930,25-34,Technology,Project Manager,89250.0,USD,"Kansas City, MO, USA",5-7 years
33932,45-54,Education,Senior Leader,195000.0,USD,"Chicago, IL",31 - 40 years
33935,35-44,Archivist,Project Archivist,62000.0,USD,"Boston, MA, USA",11 - 20 years
33937,18-24,Consulting,Analyst,74200.0,USD,"Washington, DC",1 year or less
33938,25-34,Manufacturing,Compliance Specialist,75000.0,USD,"Minneapolis, MN, US",2 - 4 years
33939,25-34,Tech,Principal User Experience Designer,139800.0,USD,"Boston, MA",5-7 years
33940,25-34,Marketing,Sr. Communications Specialist,78000.0,USD,Texas,8 - 10 years
33942,25-34,Engineering,Mechanical Design Engineer,56500.0,USD,"Dayton, OH",2 - 4 years
33949,45-54,Technology,Human Resources Business Partner,256000.0,USD,San Francisco,11 - 20 years
33951,25-34,Computer Engineering,NPI Engineer,70000.0,USD,Fremont/CA/USA,2 - 4 years
33953,35-44,Tech,Software Test Lead,82400.0,USD,"Charlotte, NC USA",8 - 10 years
33954,25-34,Tech,EH&S Coordinator,70000.0,USD,"Montana, USA",2 - 4 years
33955,18-24,Business Services,Data Management Specialist,40000.0,USD,"Austin, TX, USA",1 year or less
33956,25-34,UNKNOWN,Strategy Associate,90000.0,USD,NYC,2 - 4 years
33958,35-44,Public Libraries,Jobs Librarian,55000.0,USD,Brooklyn NY US,5-7 years
33959,25-34,Finance,SPS Consultant,41600.0,USD,"South Jordan, Utah, United States",1 year or less
33962,35-44,Education,Librarian,75000.0,USD,Lagrange/IL/USA,11 - 20 years
33968,25-34,Software,Software Test Automation Engineer,73000.0,USD,"Central Coast CA, USA",2 - 4 years
33970,25-34,higher education,Administrative assistant,45000.0,USD,CT,2 - 4 years
33972,25-34,ADVERTISING,DIGITAL MEDIA MANAGER,10000.0,USD,NAIROBI KENYA EAST AFRICA,8 - 10 years
33973,25-34,Digital marketing,International Head of Digital,168500.0,USD,"Paris, France",11 - 20 years
33978,25-34,Legal,Legal Assistant,69000.0,USD,New York,2 - 4 years

In [144]:
us_salaries_int.sort_values(by='salary', ascending = False)

,age,industry,job,salary,currency,city/state/country,years_exsperience
entry#,,,,,,,
24832,55-64,porn,chief jizzer,10000000.0,USD,your face,1 year or less
28465,45-54,Law,Partner,3750000.0,USD,"New York, NY",21 - 30 years
28775,55-64,Healthcare,CEO,2645000.0,USD,New York,21 - 30 years
15792,45-54,Financial Services,Partner,2120000.0,USD,"San Jose, CA, USA",21 - 30 years
22234,35-44,Government,Health Director,1750000.0,USD,Ma,21 - 30 years
15616,25-34,IT,Software Engineer,1580000.0,USD,"Sunnyvale, CA",11 - 20 years
28746,45-54,Finance,Portfolio manager,1500000.0,USD,Los Angeles,21 - 30 years
29530,35-44,Finance,Trader,1500000.0,USD,London,8 - 10 years
16607,35-44,Healthcare,Physician assistant,1485000.0,USD,"Fairbanks, AK",8 - 10 years
13403,45-54,Banking,SVP,1470000.0,USD,UNKNOWN,21 - 30 years
27684,35-44,Finance,Partner,1400000.0,USD,Chicago,11 - 20 years
31289,35-44,Software,Software engineer,1300000.0,USD,"Palo Alto, CA",11 - 20 years
14247,45-54,Retail,Sr Application Engineer,1200000.0,USD,"Ft Washington, Pa, USA",21 - 30 years
14240,45-54,Retail,Sr Application Engineer,1200000.0,USD,"Ft Washington, Pa, USA",21 - 30 years
28543,45-54,Technology,Sales,1200000.0,USD,Newark NJ USA,21 - 30 years
28678,45-54,Basic materials,Vice President,1000000.0,USD,Memphis TN USA,21 - 30 years
16714,under 18,Porn,Star,1000000.0,USD,UNKNOWN,1 year or less
25927,25-34,UNKNOWN,I ggg,1000000.0,USD,UNKNOWN,11 - 20 years
19480,55-64,Consulting,Partner,1000000.0,USD,"Houston, tx usa",31 - 40 years
19483,55-64,Consulting,Partner,1000000.0,USD,"Houston, tx usa",31 - 40 years
24295,35-44,Technology,Developer,1000000.0,USD,Indiana,11 - 20 years
15761,45-54,Ya,Ya,1000000.0,USD,UNKNOWN,8 - 10 years
18102,55-64,Architecture,Senior Vice President,990000.0,USD,Cleveland/Ohio/USA,5-7 years
20017,45-54,medicine,radiologist,900000.0,USD,"illinois, USA",11 - 20 years
32943,35-44,Medical,physician,900000.0,USD,UNKNOWN,8 - 10 years
16609,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years
16599,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years
16614,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years
28991,18-24,UNKNOWN,manager,850000.0,USD,"pittsburgh,pa",1 year or less
31474,35-44,Finance,Portfolio Manager,850000.0,USD,"Los Angeles, CA USA",11 - 20 years
...,...,...,...,...,...,...,...
20776,under 18,How is this different from glassdoor?,Meh,1.0,USD,Mars,41 years or more
32259,25-34,A,S,1.0,USD,A a a,1 year or less
19315,35-44,Logistics,President,1.0,USD,UNKNOWN,11 - 20 years
22903,35-44,UNKNOWN,aaaaaaaa,1.0,USD,UNKNOWN,8 - 10 years
27534,35-44,UNKNOWN,Stay at home mom,0.0,USD,NJ,8 - 10 years
18235,65 or over,Retired,Retired,0.0,USD,"Gardnerville, NV",31 - 40 years
28757,35-44,Child care,Stay at home Dad,0.0,USD,Grand Rapids/MI/USA,8 - 10 years
16464,25-34,Industrial,Owner,0.0,USD,UNKNOWN,8 - 10 years
24727,55-64,None,Unemployed,0.0,USD,"Brunswick, GA, USA",21 - 30 years
20782,35-44,Parenting,Mom,0.0,USD,Sequim Washington United States,1 year or less
18463,35-44,Healthcare,RN,0.0,USD,Iowa,2 - 4 years
16135,45-54,UNKNOWN,none,0.0,USD,UNKNOWN,21 - 30 years
16447,25-34,Industrial,Owner,0.0,USD,Youngstown/OHIO/USA,8 - 10 years
17777,18-24,Student,Student,0.0,USD,Waco,1 year or less
24316,under 18,stay at home industry,full time daughter,0.0,USD,UNKNOWN,1 year or less
27529,35-44,UNKNOWN,Stay at home mom,0.0,USD,NJ,8 - 10 years
16869,45-54,UNKNOWN,Test,0.0,USD,UNKNOWN,11 - 20 years
17412,45-54,Unemployed,Unemployed,0.0,USD,UNKNOWN,11 - 20 years
1357,35-44,none,none,0.0,USD,UNKNOWN,1 year or less
20725,25-34,Care giver,Mom,0.0,USD,"Denver, colorado",2 - 4 years
1739,25-34,Student,Student,0.0,USD,Pasadena California,2 - 4 years
17423,45-54,Unemployed,Unemployed,0.0,USD,UNKNOWN,11 - 20 years
16456,25-34,Construction,Sales,0.0,USD,UNKNOWN,8 - 10 years
15287,35-44,Homeschool mom,Owner,0.0,USD,UNKNOWN,8 - 10 years
15674,35-44,Unemployed,Stay at home parent,0.0,USD,"San Rafael, CA",11 - 20 years
18757,25-34,Legal,Intern,0.0,USD,UNKNOWN,2 - 4 years
28434,55-64,Unemployed,Manager,0.0,USD,"Plano, Tx, USA",11 - 20 years
25546,55-64,UNKNOWN,Retired,0.0,USD,"St. Louiz, MO",31 - 40 years
23173,45-54,None,none,0.0,USD,Miami FL USA,21 - 30 years
12313,45-54,IT,Program Manager,0.0,USD,UNKNOWN,31 - 40 years

In [145]:
us_salaries_int['age'].value_counts()

25-34         7406
35-44         5234
45-54         2270
18-24          890
55-64          855
65 or over     132
under 18        20
Name: age, dtype: int64

In [146]:
import numpy as np

In [153]:
table= pd.pivot_table(us_salaries_int, values='salary', index='age', aggfunc={'salary':[min, max,np.mean]})
#we format flotes to make the salaries more readable
pd.options.display.float_format = '{:.2f}'.format
table

                   max      mean  min
age
18-24        850000.00  63359.35 0.00
25-34       1580000.00  88972.70 0.00
35-44       1750000.00 119399.65 0.00
45-54       3750000.00 138442.83 0.00
55-64      10000000.00 148665.80 0.00
65 or over   500000.00 114610.52 0.00
under 18    1000000.00  94253.00 0.00

In [154]:
table2= pd.pivot_table(us_salaries_int, values='salary', index='years_exsperience', aggfunc={'salary':[min, max,np.mean]})
table2

                          max      mean  min
years_exsperience
1 year or less    10000000.00  75144.61 0.00
11 - 20 years      1580000.00 122605.08 0.00
2 - 4 years         620009.00  72093.49 0.00
21 - 30 years      3750000.00 150871.96 0.00
31 - 40 years      1000000.00 149892.98 0.00
41 years or more    660000.00 126408.52 1.00
5-7 years           990000.00  88409.51 1.00
8 - 10 years       1500000.00 101179.99 0.00